@import '../../styles/mixin.scss';

.loginPage {
  display: flex;
  width: 100vw;
  height: 100vh;

  .backBlue {
    @include flexBox(space-between, flex-start, column);
    position: relative;
    padding: 36px 93px;
    width: 40%;
    height: 100%;
    background-color: #0158a3;

    .backBlueNav {
      height: 44px;

      .logo {
        width: 88px;
        height: 36px;
        padding: 1.5px 1.5px;
        background-color: #ffffff;

        .logoInside {
          @include flexBox(center);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          color: #ffffff;
          font-weight: 1000;
          background-color: #0158a3;
        }
      }
    }

    .backBlueMain {
      h1 {
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
        color: rgb(251, 217, 20);
      }

      p {
        color: white;
        font-size: 14px;
        line-height: 22px;

        &:last-child {
          margin-top: 20px;
        }
      }
    }

    .backBlueFooter {
      color: white;
      font-size: 11px;
      line-height: 18px;

      .underLine {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .backToPage {
      position: absolute;
      left: 37px;
      top: 47px;

      .fa-arrow-left {
        color: white;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .backWhite {
    margin: auto 0;
    background-color: #ffffff;
    padding: 32px 80px;

    .loginGate {
      .idField {
        margin-bottom: 50px;

        .idInputWrap {
          margin-bottom: 0.625rem;
          position: relative;
          padding: 0;

          input {
            display: block;
            width: 448px;
            margin: 0;
            outline: 0;
            padding: 1.5rem 0 0 0.0625rem;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #929292;
            appearance: none;
            transition: box-shadow 0.2s;
            font-size: 1rem;
            line-height: 1.5;
            box-sizing: border-box;
          }

          input:focus {
            box-shadow: 0 1px 0 #0058a3;
            border-bottom-color: #0058a3;
            color: #0058a3;
          }

          input ~ label {
            font-size: 1rem;
            transition: all 0.2s ease-in-out;
            transform-origin: top left;
            pointer-events: none;
            position: absolute;
            top: 1.4375rem;
            display: inline-block;
            color: #484848;
          }

          input:focus ~ label {
            transform: translateY(-1.4375rem) scale(0.75);
            pointer-events: all;
          }
        }

        .labelled {
          input ~ label {
            transform: translateY(-1.4375rem) scale(0.75);
            pointer-events: all;
          }
        }

        .inlineText {
          color: #484848;
          font-size: 0.75rem;
          line-height: 1.5;
          display: flex;
        }
      }

      .pwField {
        margin-bottom: 79px;

        .pwInputWrap {
          margin-bottom: 0.625rem;
          position: relative;
          padding: 0;

          input {
            display: block;
            width: 440px;
            margin: 0;
            outline: 0;
            padding: 1.5rem 0 0 0.0625rem;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #929292;
            appearance: none;
            transition: box-shadow 0.2s;
            font-size: 1rem;
            line-height: 1.5;
            box-sizing: border-box;
          }

          input:focus {
            box-shadow: 0 1px 0 #0058a3;
            border-bottom-color: #0058a3;
            color: #0058a3;
          }

          input ~ label {
            font-size: 1rem;
            transition: all 0.2s ease-in-out;
            transform-origin: top left;
            pointer-events: none;
            position: absolute;
            top: 1.4375rem;
            display: inline-block;
            color: #484848;
          }

          input:focus ~ label {
            transform: translateY(-1.4375rem) scale(0.75);
            pointer-events: all;
          }

          .visiblePassword {
            position: absolute;
            right: 14px;
            top: 22px;
            padding: 0;
            border: none;
            width: fit-content;
            height: fit-content;
            background-color: unset;

            i {
              font-size: 18px;
              color: black;
            }
          }
        }
        .labelled {
          input ~ label {
            transform: translateY(-1.4375rem) scale(0.75);
            pointer-events: all;
          }
        }
        .inlineText {
          color: #484848;
          font-size: 0.75rem;
          line-height: 1.5;
          display: flex;
        }
      }

      .error {
        .idInputWrap,
        .pwInputWrap {
          input {
            border-bottom-color: #e00751;
            box-shadow: 0 1px 0 #e00751;
          }

          input:focus {
            border-bottom-color: #e00751;
            box-shadow: 0 1px 0 #e00751;
            color: #111111;
          }
        }
        .inlineText {
          color: #e00751;
        }
      }

      button {
        width: 100%;
        height: 56px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 28px;
        border: 0;
        background-color: #0158a3;
        cursor: pointer;

        &.signUpBtn {
          color: #111111;
          background-color: #f5f5f5;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #dfdfdf;
          }

          &:active {
            background-color: #ccc;
          }
        }
      }

      .submitBtn {
        margin-bottom: 67px;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #004f93;
        }

        &:active {
          background-color: #003e72;
        }
      }

      .signupTitle {
        margin-bottom: 35px;
        color: #111111;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
