@import '../../styles/mixin.scss';

.loginBox {
  width: 100vw;
  height: 100vh;
  display: flex;

  .loginLeft {
    width: 665px;
    background-color: #0158a3;
    @include flexBox(space-between, center, column);

    .loginLeftNav {
      height: 65px;
      background-color: wheat;
      @include flexBox(space-around, center);
    }

    .loginLeftMain {
      height: 75px;

      h1 {
        font-size: 40px;
        color: yellow;
      }
    }

    .loginLeftFooter {
      height: 65px;
      color: white;
    }
  }

  .loginRight {
    width: 1065px;
    background-color: #ffffff;
    @include flexBox(center, center);

    .loginGate {
      height: 600px;
      @include flexBox(space-around, center, column);

      .loginInput {
        width: 460px;
        @include flexBox(space-around, center, column);
        position: relative;
        border-bottom: 1px solid black;

        &:focus-within {
          border-bottom: 2px solid #0158a3;
          span {
            transform: translateY(-20px);
            font-size: 0.5rem;
          }
        }

        span {
          font-size: 1rem;
          position: absolute;
          left: 20px;
          transition: all 0.2s ease-in-out;
        }

        input {
          width: 100%;
          height: 70px;
          border: 0;
          outline: none;
        }
      }

      .loginBtn {
        width: 460px;
        height: 80px;
        @include flexBox(center, center, row);

        button {
          width: 440px;
          height: 70px;
          border-radius: 35px;
          border: 0;
          color: #ffffff;
          background-color: #0158a3;
          cursor: pointer;
        }
      }

      p {
        @include flexBox(center, center, row);
      }

      .signUPBtn {
        width: 460px;
        height: 80px;
        @include flexBox(center, center, row);

        button {
          width: 440px;
          height: 70px;
          border-radius: 35px;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}
