@import '../../styles/mixin.scss';

.login {
  width: 100vw;
  height: 100vh;
  display: flex;

  .backBlue {
    width: 665px;
    background-color: #0158a3;
    @include flexBox(space-between, center, column);

    .backBlueNav {
      height: 65px;
      background-color: wheat;
      @include flexBox(space-around, center);
    }

    .backBlueMain {
      height: 75px;

      h1 {
        font-size: 40px;
        font-weight: bold;
        color: yellow;
      }
    }

    .backBlueFooter {
      height: 65px;
      color: white;
    }
  }

  .backWhite {
    width: 1065px;
    background-color: #ffffff;
    @include flexBox(center, center);

    .loginGate {
      height: 600px;
      @include flexBox(space-around, center, column);

      .loginInput {
        width: 460px;
        @include flexBox(space-around, center, column);
        position: relative;
        border-bottom: 1px solid black;

        &:focus-within {
          border-bottom: 2px solid #0158a3;

          span {
            transform: translateY(-20px);
            font-size: 0.5rem;
          }
        }

        .spanFix {
          transform: translateY(-20px);
          font-size: 0.5rem;
        }

        span {
          font-size: 20px;
          position: absolute;
          left: 20px;
          transition: all 0.2s ease-in-out;
        }

        input {
          width: 100%;
          height: 70px;
          border: 0;
          font-size: 25px;
          outline: none;
        }
      }

      button {
        width: 440px;
        height: 70px;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        border-radius: 35px;
        border: 0;
        background-color: #0158a3;
        cursor: pointer;

        &.signUpBtn {
          color: #000000;
          background-color: #dfdfdf;
        }
      }
    }
  }
}
