@import '../../styles/mixin.scss';

body {
  /*임시확인용*/
  @include flexBox(center, center, row);
}
.itemListWrap {
  @include flexBox(flex-start, flex-start, column);
  width: 90vw;
  height: 150vh;
  border: 1px solid red;

  .categoryNav {
    width: 100%;
    margin: 30px 0px 90px 0px;

    .categories {
      @include flexBox(flex-start, center, row);
      font-size: 12px;

      li {
        margin-right: 10px;
      }

      .itemLink {
        color: black;
        text-decoration: none;
      }
      :hover {
        text-decoration: underline;
      }

      span {
        font-size: 5px;
        margin-right: 10px;
      }
    }
  }

  .productionTitle {
    font-size: 30px;
    font-weight: bold;
  }

  .productionText {
    width: 640px;
    margin: 40px 0px;
    font-size: 14px;
    line-height: 150%;
  }

  .selectionWrap {
    @include flexBox(space-between, center, row);
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(221, 221, 221);

    .selectionBtn {
      border: none;
      border-radius: 30px;
      margin-right: 8px;
      padding: 10px 25px;
      font-size: 13px;
      font-weight: bold;

      span {
        padding-left: 15px;
        font-size: 15px;
      }
    }
    :hover {
      cursor: pointer;
    }

    .selectionInformation {
      span {
        margin-right: 10px;
        color: rgb(119, 119, 119);
        font-size: 12px;
      }

      .informationBtn {
        width: 47px;
        height: 32px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 5px;
        background-color: white;
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
  .productionListWrap {
    @include flexBox(center, center, column);
    width: 100%;
    .productionList {
      @include flexBox(flex-start, flex-start, row);
      flex-wrap: wrap;
      border-bottom: 1px solid rgb(221, 221, 221);

      .productionItem {
        @include flexBox(center, flex-start, column);
        margin: 30px 12px 20px 12px;
        flex: 1 0 0;

        img {
          width: 262px;
          height: 262px;
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .detailText {
          font-size: 12px;
          margin-bottom: 15px;
        }

        .priceWrap {
          .won {
            font-size: 15px;
            vertical-align: top;
            margin-right: 5px;
          }
          .price {
            font-size: 22px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
