@import '../../../styles/mixin.scss';

$signupWidth: 411px;
$sideTitleWidth: 286px;

.sideTitle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(
    calc((($signupWidth + $sideTitleWidth) / 2) * (-1) - 80px),
    -50%
  );
  line-height: 45px;

  .familyTitle,
  .signupTitle {
    font-size: 32px;
    font-weight: 700;
  }

  .familyTitle {
    color: #0058a3;
  }

  .goToLogin {
    font-size: 14px;

    a {
      color: #484848;

      &:hover {
        color: black;
      }
    }
  }

  .titleImgs {
    display: flex;
    margin-top: 48px;

    .titleImg {
      width: 140px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:first-child {
        margin-right: 6px;
      }
    }

    .long,
    .short {
      border-radius: 4px;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    .long {
      height: 243px;
    }
    .short {
      height: 160px;
    }
  }
}
