@import '../../../styles/mixin.scss';

.Category {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  button {
    outline: none;
    cursor: pointer;
    border: 0;
  }

  section {
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #ffffff;
    animation: modal-show 0.3s;
    overflow: hidden;

    header {
      position: relative;
      padding: 25px 64px 16px 16px;
      background-color: #ffffff;
      font-weight: bold;
      font-size: 35px;

      button {
        position: absolute;
        top: 20px;
        right: 15px;
        width: 30px;
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        color: #999;
        background-color: transparent;
      }

      .logo {
        width: 90px;
        height: 36px;
        background-color: #0058a3;
        .logoInside {
          @include flexBox(center);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          color: #0058a3;
          font-weight: 1000;
          background-color: #fbd914;
        }
      }
    }

    main {
      padding: 16px;
      margin-top: 20px;

      .goToBtn {
        width: 350px;
        height: 65px;
      }
    }
  }
}

.ItemSubDescription.openModal {
  display: flex;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    transform: translate3d(150%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
