@import '../../styles/mixin.scss';

.footerBox {
  margin-top: 64px;
  padding: 64px 60px 0 125px;
  background-color: #f5f5f5;

  .listBox {
    display: flex;

    .listBoxSignUp {
      @include flexBox(flex-start, flex-start, column);
      padding-right: 165px;

      h1 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
        color: #484848;
        line-height: 20px;
      }

      .underLine {
        margin: 20px 0;
        text-decoration: underline;
        cursor: pointer;
      }

      button {
        padding: 12px 20px;
        border: 0;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size: 0.75rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: #484848;
        }
      }
    }

    .listBoxlist {
      @include flexBox(space-between, flex-start);
      flex-grow: 1;
      color: #484848;
    }
  }

  .footerBtns {
    @include flexBox(space-between);
    margin: 70px 0 40px 0;

    button {
      border: none;
      height: 34px;
      border: 1px solid #dfdfdf;
      border-radius: 17px;
      color: #484848;
      background-color: unset;
      cursor: pointer;

      &:hover {
        border-color: #929292;
      }
    }

    i {
      font-size: 19px;
    }

    .sns {
      button {
        margin-right: 20px;
        width: 34px;
      }
    }

    .national {
      display: flex;

      button {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 700;

        &:last-child {
          margin-left: 15px;
        }

        .fa-globe {
          margin-right: 7px;
        }

        .fa-angle-down {
          margin-left: 10px;
        }
      }
    }
  }

  .infoBox {
    display: flex;
    border-top: 1px solid gainsboro;

    .infoMain {
      padding: 40px 0;
      width: 100%;
      color: #484848;

      .infoList {
        @include flexBox(space-between);

        p {
          font-size: 12px;
        }

        ul {
          list-style: none;
          color: #111111;
          font-size: 12px;

          li {
            margin-left: 22px;
            float: left;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
              color: black;
            }
          }
        }
      }

      .infoAddress {
        padding-top: 30px;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
