@import '../../styles/mixin.scss';
.footerBox {
  width: 100vw;
  background-color: #f5f5f5;

  .listBox {
    @include flexBox(space-around, center, row);

    .listBoxSignUp {
      width: 457px;
      height: 385px;
      @include flexBox(start, start, column);
    }

    h1 {
      font-size: 30px;
      font-weight: bold;
      padding: 20px 20px 20px 0;
    }

    p {
      padding: 20px 20px 20px 0;
      color: gray;
    }

    button {
      width: 200px;
      height: 70px;
      border: 0;
      border-radius: 20px;
      background-color: black;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    .listBoxlist {
      @include flexBox(center, center, row);
      gap: 50px;
      color: gray;

      li {
        padding-top: 40px;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

  .infoBox {
    @include flexBox(space-around, center, row);
    border-top: 1px solid gainsboro;
    .infoMain {
      padding-top: 10px;
      .infoAddress {
        padding-top: 30px;
      }
    }
    .infoList {
      ul {
        list-style: none;
        li {
          float: left;
          padding-bottom: 60px;
          padding-right: 100px;

          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
