@import '../../styles/mixin.scss';

.item {
  @include flexBox(center, center, column);
  margin-top: 195px;

  .itemBox {
    display: flex;

    .itemContents {
      width: 65%;
    }

    .itemAside {
      width: 35%;
    }
  }
}
